*{
    background-color: black;
    color: white;
    
}

img{
    margin-top: 5rem;
    border: 5px solid;
    width: 100%;
    height: 500px;
}

.heading{
    text-transform: uppercase;
    font-size: 3rem;
    font-family: "Libre Baskerville", serif;
}

.centered{
    width: 50%;
    margin-left: 25%;
    text-align: center;
}

p{
    font-size: 1.5rem;
}
