.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}


.play-btn-div{
  margin-top: 1rem;
}

.play-btn{
  font-family: 'Lobster', cursive;
  font-size: 1.5rem;
  border: black solid;
  border-radius: 5px;
}

.play-btn:hover{
  background-color: rgb(184, 0, 0);
  color: white;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
